.App {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.open-button {
  border: 0;
  background: lightgreen;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  cursor: pointer;
  margin-top: 20px;
}
